<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAXFva-3WF0Ry1G_8ubDz41Y8Wrmffvkow</string>
	<key>GCM_SENDER_ID</key>
	<string>290167338406</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gamedev.digital.test</string>
	<key>PROJECT_ID</key>
	<string>unity-test-gamedev</string>
	<key>STORAGE_BUCKET</key>
	<string>unity-test-gamedev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:290167338406:ios:5f8e1ef3b636ed47f64b67</string>
</dict>
</plist>